$xx-small: .25rem;
$x-small: .5rem;
$small: 1rem;
$medium: 1.25rem;
$large: 1.5rem;
$x-large: 2rem;
$xx-large: 3rem;

$border-radius: 5px;
$border-radius10: 10px;
$ios-border: 20px;
$center: 0 auto;
$layout-max: 50rem;
$icon: 1.875rem;